body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 60px;
    padding-top: 10px;
    font-weight: 900;
}

p {
    font-size: 15px;
    padding-bottom: 30px;
    font-weight: 500;
}

.top-banner {
    background-image: url(images/donation13.jpg);
    opacity: 0.9;
    background-size: cover;
    width: 1440px;
    height: 669px;
    left: 0px;
    top: 0px;
    background-repeat: no-repeat;

}

div {
    width: 826px;
    height: 320px;
    left: 307px;
    top: 174px;
    text-align: center;
    color: white;
    padding: 150px;

}

.link-button {
    text-decoration: none;
    background-color: tomato;
    padding: 10px 20px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}